<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <title>Clients</title>
    <%-include('../css_js/landing_css')%>
    <%-include('../css_js/admin/admin_css')%>
</head>
<body style="background-color: #82573896;">
    <!-- Navigation-->
    <%-include('../sections/admin_nav')%>
    <!-- Page Content -->
    
    <div class="container" style="margin-top: 5%;">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0" style="color: white; font-family: 'Pirata One', cursive; letter-spacing: 10px; text-shadow: 2px 6px #272727;">Client Roster</h1>
    </div>
<%-include('../css_js/landing_js')%>
</body>
</html>