<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%-include('../css_js/login_css')%>
</head>
<body style="background-color: slategray;">
    <%-include('../sections/admin_nav')%>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header h4">
                        Notifications
                    </div>
                    <div class="card-body">
                      <div class="alert alert-info">
                        Unsay maayo ibutang dre? HAHAHAHA
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header h4">
                        Notifications
                    </div>
                    <div class="card-body">
                      <div class="alert alert-info">
                        Unsay maayo ibutang dre? HAHAHAHA
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../css_js/login_js')%>
</body>
</html>