<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <title>Projects</title>
    <%-include('../css_js/login_css')%>
</head>
<body style="background-color: slategray;">
    <!-- Navigation-->
    <%-include('../sections/admin_nav')%>
    <!-- Page Content -->
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header h4">
                        Projects
                    </div>
                    <div class="card-body">
                      <div class="alert alert-info">
                        You have no projects
                      </div>
                      <div style="float: right;">
                        <button class="btn btn-success btn-sm"><i class="fa fa-plus"></i> New Project</button>
                      </div>
                      <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Project Number</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Artist</th>
                                    <th scope="col">Design</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Date Started</th>
                                    <th scope="col">Date Finished</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Jayson Cadiz</td>
                                    <td>Eque Daculan</td>
                                    <td>Picture here</td>
                                    <td>Ongoing/Complete</td>
                                    <td>Colored/B&W</td>
                                    <td>Small Medium Large</td>
                                    <td>January 10, 2021</td>
                                    <td>January 10, 2021</td>
                                    <td>
                                        <button class="btn btn-warning btn-floating">A</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../css_js/login_js')%>
</body>
</html>