<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire At Will</title>
    <%-include('../css_js/login_css')%>
</head>
<body style="background-color: slategray;">
    <%-include('../sections/clientnav')%>
    <div class="container mt-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header h4">
                        My Appointments
                        <button class="btn btn-success btn-sm" style="float: right;" data-mdb-toggle="modal" data-mdb-target="#appointment"><i class="fa fa-plus"></i> Appointment</button>
                    </div>
                    <div class="card-body">
                      <div class="alert alert-info">
                        You got no appointments. Check out the gallery to see what you like on your next tattoo design.
                      </div>
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th scope="col">Date Created</th>
                                  <th scope="col">Appointment Date</th>
                                  <th scope="col">Status</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>January 5, 2021</td>
                                  <td>January 10, 2021</td>
                                  <td>Pending</td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div
    class="modal fade"
    id="appointment"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                type="button"
                class="btn-close"
                data-mdb-dismiss="modal"
                aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info text-center">
                            Terms and Conditions
                        </div>
                        <div class="alert alert-info">
                            By applying for an appointment, you hereby abide to our rules and conditions. Thus, in doing so, you are physically ready, mentaly sober, and did not have any tattoo procedures recently.
                            A notification will be given to you 3 days before the date of the appointment for your availability. Failure to respond with the given time period will automaticaly invalidate your appointment.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <%-include('../css_js/login_js')%>
</body>
</html>