<%images.forEach((image)=>{%>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="<%=image.Image_Link%>" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="<%=image.Image_Link%>" alt="">
        </a>
    </div>
<%})%>